@font-face{
    font-family:receipt;
    src:url(fakereceipt.ttf);
}


.heading {
    border:3px black solid;
    background-color:darkolivegreen;
    width:80%;
    height:100px;
    margin-left:10%;
    margin-bottom:5%;
}
.myFood {
    border:6px orange solid;
    background-color:beige;
    text-align: center;
}

.grocItems{
    display:inline-block;
    list-style: none;
    text-align: left;
    font-family:receipt;
    font-size:120%;

}

.grocPrice{
    display:inline-block;
    text-align: left;
    font-family:receipt;
    font-size:120%;
}
.hr{
    width:35%;
    margin-left:34%;
    border:2px black solid;

}
.line1{
    font-family:receipt;
    font-size:90%;
    display:inline-block;
    margin-left:4%;
}
.subtotal {
    font-family:receipt;
    font-size:90%;
    display:inline-block;
    margin-left:21%;
}
.line2{
     font-family:receipt;
    font-size:90%;
    display:inline-block;
    margin-left:5%;
}


.salesTax {
     font-family:receipt;
    font-size:90%;
    display:inline-block;
    margin-left:27%;
}
.line3{
     font-family:receipt;
    font-size:130%;
    display:inline-block;
    margin-left:5%;
}

.finalTotal{
     font-family:receipt;
    font-size:130%;
    display:inline-block;
    margin-left:25%;
}
.h1{
    text-align:center;
    font-family:receipt;
    font-size: 210%;
}