.heading {
    border:3px black solid;
    background-color:darkolivegreen;
    width:80%;
    height:100px;
    margin-left:10%;
    margin-bottom:5%;
}
.myFood {
    border:6px orange solid;
    background-color:purple;
    text-align: center;
}

.grocItems{
    display:inline-block;
    list-style: none;
    text-align: left;
}

.grocPrice{
    display:inline-block;
    text-align: left;
}
.hr{
    width:35%;
    color:black;
}

